[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
httpx = "*"
humanize = "*"
xdg-base-dirs = "*"
textual-countdown = "*"

[dev-packages]
pre-commit = "*"
black = "*"
mypy = "*"
build = "*"
twine = "*"
pylint = "*"

[requires]
python_version = "3.12"
